In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/FlowPS/data"

Посмотрим на работу алгоритма поиска core marker genes на примере датасета GSE18728:

In [3]:
df = pd.read_csv('/content/drive/My Drive/FlowPS/change_data/GSE18728.csv')
df.head()

   Sample ID  Binary response       A1BG  ...         ZYX       ZZEF1        ZZZ3
0          1                0  49.999995  ...  276.170368  151.806116  591.821194
1          2                0  49.999995  ...  190.563866   97.582430  555.481207
2          3              100  49.999995  ...  281.911714  107.253264  371.015336
3          4                0  49.999995  ...  119.531889   94.494260  644.816684
4          5              100  57.411779  ...  155.780068  111.708393  648.125073

[5 rows x 20735 columns]

Разбиваем данные на признаки и таргет(в данном случае для проверки корректности работы возьмем 100 первых признаков):

In [4]:
X = df.drop(['Sample ID', 'Binary response'], axis=1)
X = X.iloc[:, :100]

y = df['Binary response']

Оценивать влияние каждого признака будем с помощью классического SVM:

In [5]:
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, accuracy_score, roc_curve, auc

model = SVC(gamma='auto', probability = True)

Запускаем гланый цикл кросс-валидации с перебором всех признаков для каждого объекта датасета:

In [9]:
from tqdm import tqdm

final = []
for i in tqdm(range(len(X))):
  res = []
  X2 = X.drop([i])
  y2 = y.drop([i])

  for j in range(len(X2)):
    if i != j:
      X3 = X2.drop(j)
      y3 = y2.drop(j)

      roc_auc_list = []
      for num, k in enumerate(range(X3.shape[1])):

        X_train = X3.iloc[:, k]
        X_train_new = X_train.values.reshape(-1, 1)

        model.fit(X_train_new, y3)
        pred_prob = model.predict_proba(X_train_new)
        predict = pred_prob[:,1]
          
        roc_auc = roc_auc_score(y3, predict)   
        roc_auc_list.append((num, roc_auc)) 

    res.append(roc_auc_list)

  final.append(res)

100%|██████████| 61/61 [14:32<00:00, 14.31s/it]

Отсортируем для каждого датасета без i-го и j-го объекта все признаки по значению roc_auc и выберем TOP 30:

In [14]:
array = []
for i in range(len(final)):
  arr = []
  for j in range(len(res)):
    temp = sorted(final[i][j], key=lambda x: (x[1]), reverse=True)
    arr.append(temp[:30])
  array.append(arr)

Оставим только номера значимых признаков:

In [15]:
mass = []
for i in range(len(array)):
  mass1 = []
  for j in range(len(array[i])):
    mass2 = []
    for k in range(len(array[i][j])):
      mass2.append(array[i][j][k][0])

    mass1.append(mass2)

  mass.append(mass1)

Посмотрим на пересечение всех значимых признаков для каждого i и тем самым получим N наборов core marker features для каждого образца:

In [16]:
core_marker = []
for i in range(len(mass)):
  temp = list(set.intersection(*map(set, mass[i])))
  core_marker.append(temp)

In [19]:
print(len(core_marker))
core_marker

61

[[34],
 [57, 34, 90, 15],
 [34, 90, 15, 20, 26],
 [34, 20, 90, 15],
 [34, 26, 42, 15, 57, 90],
 [34, 20, 90, 15],
 [90, 20, 15],
 [34, 90, 15],
 [57, 34, 20, 15],
 [34, 20, 90, 15],
 [34, 90, 15],
 [34, 42, 90, 15],
 [90],
 [90, 26, 20, 15],
 [34, 90, 15, 20, 26],
 [34, 15, 20, 57, 90],
 [34, 20, 90, 15],
 [34, 20, 90, 15],
 [34, 90, 15],
 [20, 15],
 [34, 20, 90, 15],
 [90, 20, 46, 15],
 [34, 46, 15, 20, 90],
 [34, 20, 90],
 [34, 90, 15],
 [34, 90, 15],
 [34, 20, 90, 15],
 [34, 90, 15],
 [34, 20, 90, 15],
 [34, 20, 90, 15],
 [34, 20, 90, 15],
 [90, 20, 15],
 [34, 20, 90, 15],
 [34, 20, 90, 15],
 [34, 15, 20, 57, 90],
 [34, 20, 90, 15],
 [90, 20, 15],
 [90, 20, 15],
 [34, 15, 20, 57, 90],
 [26, 20, 90, 15],
 [90, 20, 15],
 [42, 15, 20, 54, 90],
 [20, 15],
 [34, 15],
 [34, 20, 90, 15],
 [34, 90, 15],
 [34, 20, 90, 15],
 [34, 90, 15],
 [34, 20, 90, 15],
 [34, 20, 90, 15],
 [90, 15],
 [90, 46, 15],
 [90, 20, 15],
 [34, 15, 20, 57, 90],
 [34, 15, 20, 57, 90],
 [90, 20, 15],
 [90, 20, 15],
 [34, 20, 90, 15],
 [34, 42, 90, 15],
 [34, 20, 90, 15],
 [34, 20, 90, 15]]